**/bin/
**/bin-int/
!premake/bin/windows/
!premake/bin/linux/

# Make

**/Makefile

# ImGui

**/imgui.ini

# Visual Studio files and folder

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# VSCode files

.vscode